@page "/about"

<h1 class="font-weight-bold">About</h1>
<p>
    The App is My First Completed MVP, I've Always Tried To Start Insanely Huge Project And Try To
    Make Them From Scratch.
</p>
<p>This Obviously Doesn't Go Well Always So I Stop Creating Projects And Leave Them Not Even in An MVP State</p>
<p>
    So I Decided To Start A Smaller Project That I Can Develop The MVP For It Faster, Though The Start Was Slow I Finally Broke
    The Curse And Finished An MVP For A Project
</p>

<hr />
<a href="https://dribbble.com/ZairiAimenDev" class="btn btn-primary p-2" target="_blank">My Dribble</a>