@page "/"

<div class="p-sm-3">
    <img src="/image/ColorIDEA.svg" height="64" />

    <div style="color: #03045E">
        <p>We Generate Random Color Palettes For Your Next Work</p>
        <hr />
        <h3>Features</h3>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Generate Color Palettes - Basic MVP
                <span class="badge badge-secondary badge-pill">Done</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Choosing The Type Of Palette You Want (Random, Analogous, Mono-Chromatic, Shades, Complementary)
                <span class="badge badge-warning badge-pill">In-Development</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Working On A Better Design
                <span class="badge badge-warning badge-pill">In-Development</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Get Palette From Image
                <span class="badge badge-primary badge-pill">On List</span>
            </li>
        </ul>
    </div>
</div>