@page "/"

<div class="p-sm-3">
    <img src="/image/ColorIDEA.svg" height="64" />

    <div style="color: #03045E">
        <p>We Generate Random Color Palettes For Your Next Work</p>
        <hr />

    </div>
</div>